.login{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
   
    align-items: center;
}
.login__container{
    width: 300px;
    height: fit-content;
    display: flex;
     
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    padding: 20px;
    background-color: aliceblue;
}

.login__container > form{
    display: flex;
    flex-direction: column;   
    
}
.login__container > form > input{
    margin-bottom: 8px;
    height: 30px;
    width: 90%;
}
.login__container >p{
    margin-top: 15px;
    font-size: 12px;
    margin-bottom: 5px;

}
.login__container >button{
    width: fit-content;
}
.login__container>form >button{
    width: 93%;
    color: azure;
    background-color: rgb(219, 100, 31);
    border: 1px solid;
    border-color: rgb(36, 36, 35);
}

.login__container>form > button:hover{
    
    color: rgb(219, 100, 31);
    transition-duration: 0.3s;
    background-color: rgb(255, 255, 255) ;
    transform: scale(1.1);
    transition: .4;
   
   
}
.login__container > button:hover{
    
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
    border: 1px solid black ;
    background-color: rgb(219, 100, 31);
    transform: scale(1.1);
    transition: .4;
   
   
}